
body{
    background-color: #f2f2f2;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#container{
    width: 85%;
    margin: 0 auto;
    background-color:#fff;
    min-width: 720px    
}
#marca{
    height: 100px;
    background-color:rgb(176, 172, 172);
    text-align: center;
    line-height: 100px;
}
#conteudo{
    width: 74.28%;
    float: right;
}
#conteudo-principal{
    width: 64%;
    float: left;
}
#conteudo-secundario{
    width: 33%;
    float: right;
    background-color: #d1d1d1;
}
#conteudo-secundario h1,
#conteudo-secundario h2,
#conteudo-secundario h3,
#conteudo-secundario p {
    padding-left: 20px;
    padding-right: 20px;
}

#navegacao{
    width: 19%;
    float: left;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #d1d1d1;

}
#rodape{
    clear: both;
    background-color: #c4c4c4;
    padding: 5px;
    text-align: center;
}

#navegacao ul{
    list-style-type: none;
    padding-left: 25px;
}
#navegacao li a{
    text-decoration: none;
}
